.cell {
    align-items: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    float: left;
    font-size: 56px;
    height: 100px;
    justify-content: center; 
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 100px;
}

.game-board {
    margin: auto;
    width: 300px;
}

.game-info {
    margin-top: 25px;
}

h1 {
    margin-bottom: 25px;
}

.new-game-container {
    margin-top: 25px;
}

.player-score {
    font-size: 36px;
    font-weight: bold;
}
